# Python
__pycache__/
*.py[cod]
*.pyo


# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
*.log
media/
staticfiles/
django.log
data_backup.json

# Environment variables and secrets
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*